---
import Layout from "../layouts/index.astro"
---

<Layout title="sitebender">
	<p class="hero">
		No-code, <abbr title="What You See Is What You Get">WYSIWYG</abbr> site creation
		and dynamic, on-the-fly page generation. <a href="/what">Curious?</a>
	</p>
</Layout>
